@import "tailwindcss";

/* .body {
  background: rgb(50,4,15);
  background: linear-gradient(90deg, rgba(50,4,15,1) 0%, rgba(42,21,78,1) 69%);
} */

.spline-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); /* Dark overlay for readability */
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 100px;
}


.background-section-home {
  background-image: url('Pattern-bg-2.avif');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.background-section-home-2 {
  background-image: url('Pattern-bg-1.avif');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.background-section-resume {
  background-image: url('Japan-bg-2.avif');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-section-resume-bg-2{
  background-image: url('Japan-bg.avif');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
}
